@import "../../node_modules/tailwindcss/dist/lib.d.mts";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    background: #1E293B;
    height: 10vh;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
    position: relative;

}
nav {
    display: flex;
    margin-left: auto;
}
nav input {
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
    border-color: #3b3ef6;
}
main {
    padding-top: 50px;
    background: #1E293B;
}
.header nav a{
    background-color: #3b3ef6;
    border-radius: 10px;
    color:  #F4F4F9;
    padding: 5px 10px;
    font-size: 17px;

}
.flex-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    background-color: white;
    color: #1E293B;
    border-radius: 20px;
    padding: 8px;


}
.navigate {
    margin-right: 50px;

}
.navigate a {
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: relative;

}
.media {
    display: flex;
    color: #1E293B;
    font-size: 17px;
    margin: 30px;

}
.media a {
    color: white;
    margin-left: 40px;
    text-decoration: none;
    font-weight:  bold;
    text-align: left;

}
.search-box {
    padding: 236px;

}
h2 {
    font-size: 30px;
    text-align: left;
    color: #F4F4F9;
    padding-left: 20px;

}

footer {
    text-align: left;
    background-color: #1E293B;
    padding: 50px;
    color: white;
    box-shadow: 0 8px 16px 10px rgba(0,0,0,0.2);
}
h3 {
    color: white;
    text-align: center;
}

.text-box {
   font-size: 16px;
    text-align: center;
}
.img-box {
    display: block;
    padding: 30px;
    text-align: center;
    overflow-x: scroll;
}
.recommended {
    padding-bottom: 100px;
    display: flex;
    text-align: center;
    overflow-x: hidden ;
    white-space: nowrap;
}
.new {
    padding-bottom: 100px;
    display: flex;
    text-align: center;
    overflow-x: hidden ;
    white-space: nowrap;
}
p {
    text-align: justify;
    padding-bottom: 10px;

}
.recommended img{
     width: 250px;
     height: 350px;
    flex: 0 0 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 16px 10px rgba(0,0,0,0.2);
    margin: 10px;

}
 .new img{
     width: 250px;
     height: 350px;
     flex: 0 0 30px;
     border-radius: 15px;
     object-fit: cover;
     box-shadow: 0px 10px 16px 10px rgba(0,0,0,0.2);
     overflow-x: hidden;

 }
.hot {
    padding-bottom: 100px;
    display: flex;
    text-align: center;
    overflow-x: hidden ;
    white-space: nowrap;
}
.hot img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    flex: 0 0 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 16px 10px rgba(0,0,0,0.2);
    margin: 10px;
}

.movies, .series {
    position: relative;   /* Чтобы dropdown был "привязан" */
    display: inline-block;
    margin-right: 20px;   /* Чтобы не слипались */
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #1E293B;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    text-align: center;
    width: 150%;

}

.movies:hover .dropdown,
.series:hover .dropdown {
    display: block;
}

.dropdown a {
    display: block;
    color: white;
    padding: 8px 12px;
    text-decoration: none;

}

.dropdown a:hover {
    background-color: #3b3ef6;
    width: 100px;
}
.navigate {
    display: flex;
}