@import "../../node_modules/tailwindcss/dist/lib.d.mts";

.header {
    display: flex;
    background: #1E293B;
    border-bottom: 5px solid gold;
    height: 10vh;
}
nav {
    display: flex;
    margin-left: auto;
}
body {
   background-color:#E3DAC9;

}
nav a{
    color : white;
}
.flex-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    height: 80px;
    width: 80px;

}
.navigate a {
    display: inline-block;
    color: #1E293B;
}

.text {
    background-color: white;
    color: #1E293B;
    border-radius: 20px;
    padding: 4px;
}
.navigate {
    display: inline-block;
    margin-right: 50px;
    background: #1E293B;
    border-radius: 10px;
}
.navigate a {
    display: inline-block;
    color: white;
    padding: 4px 30px;
}
.media {
    display: inline-block;
    color: #1E293B;
    padding: 27px;
    row-gap: 20px;
    font-size: 17px;
}
.media a {
    color: #1E293B;
    margin-left: 40px;

}
.search-box {
    padding: 100px;
}
.signIn {
    background: #1E293B;
    width: 500px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.registration-link {
    color: #F4F4F9;
    background: gold;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    width: 30%;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}
.registration-link a:visited {
    text-decoration: underline;
}
.registration-link a:hover {
    background-color: #E3DAC9;
}
.h2 {
    color: gold;
    background-color: #1E293B;
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
    border-radius: 20px;
    padding-top: 20px;


}.form {
    display: grid;
    padding-top: 5px;
 }
 .form input {
     display: block;
     text-align: left;
     color: #1E293B;
     margin-left: auto;
     margin-right: auto;
     font-size: 25px;
     background-color: white;
     border-radius: 10px;
     margin-top: 20px;
 }
 .signIn {
     text-align: center;
 }
 .form label {
     background-color: #1E293B;
     color: white;
     width: 150px;
     margin-left: auto;
     margin-right: auto;
     padding: 10px;
     border-radius: 20px;
 }