@import "../../node_modules/tailwindcss/dist/lib.d.mts";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    background: #1E293B;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
    height: 10vh;
}
nav {
    display: flex;
    margin-left: auto;
}
nav input {
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
    border-color: #3b3ef6;
}
body {
   background-color: #1E293B;

}
nav a{
    color : white;
    text-decoration: none;
    background-color: #3b3ef6;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.2);

}
.flex-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    height: 80px;
    width: 80px;

}
.navigate a {
    display: inline-block;
    color: #1E293B;
}

.text {
    background-color: white;
    color: #1E293B;
    border-radius: 20px;
    padding: 8px;

}
.navigate {
    display: inline-block;
    margin-right: 50px;
    background: #1E293B;
    border-radius: 10px;
}
.navigate a {
    display: inline-block;
    color: white;
    padding: 4px 30px;
}
.media {
    display: inline-block;
    color: #1E293B;
    padding: 27px;
    row-gap: 20px;
    font-size: 17px;
}
.media a {
    color: #1E293B;
    margin-left: 40px;

}
.search-box {
    padding: 100px;
}
.signIn {
    text-align: center;
    width: 500px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);

}
.registration-link a {
    text-decoration: none;
    color: white;

}
.registration-link {

    background: #3b3ef6;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 30%;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);


}
.registration-link:hover {
    background: #E3DAC9;
    text-decoration: underline;
}
.registration-link:active {
    background: #1E293B;
}
.signIn-link a {
    color: white;
    text-decoration: none;
}
.signIn-link {
    background: #3b3ef6;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 30%;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);

}
.signIn-link:hover {
    text-decoration: underline;
    background: #E3DAC9;
}
.signIn-link:active {
    background-color: gold;
}
.h2 {
    color: #3b3ef6;
    background-color: #1E293B;
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
    border-radius: 20px;
    padding-top: 20px;


}.form {
    display: grid;
    padding-top: 5px;
 }
 .form input {
     display: block;
     text-align: left;
     color: #1E293B;
     margin-left: auto;
     margin-right: auto;
     font-size: 30px;
     background-color: white;
     border-radius: 5px;
     margin-top: 20px;
     box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);

 }
